﻿<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>¡Ingresa ya!</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </form>
                </div>
            </div>
            <div id="loginError" class="alert alert-danger mt-3" style="display: none;">
                Usuario o contraseña incorrectos.
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#loginForm").on("submit", function (event) {
            event.preventDefault();

            const username = $("#username").val();
            const password = $("#password").val();

            $.ajax({
                url: 'https://localhost:7184/api/Auth/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    username: username,
                    password: password
                }),
                success: function (response) {
                    const token = response.token;
                    // Guarda el token en localStorage
                    localStorage.setItem('token', token);
                    alert('Ingreso correcto!');
                    window.location.href = '/Home/Index';
                },
                error: function () {
                    $("#loginError").show();
                }
            });
        });
    });
</script>


