﻿<div class="container mt-5">
    <button id="btnLogout" class="btn btn-danger">Cerrar sesión</button>

    <h1>Mi inventario</h1>
    <div class="form-group">
        <label for="filterState">Filtrar por estado:</label>
        <select class="form-control" id="filterState" onchange="loadProducts()">
            <option value="false">Buen estado</option>
            <option value="true">Defectuoso</option>
        </select>
    </div>
    <table class="table table-bordered" id="productsTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de elaboración</th>
                <th>Stock</th>
                <th>¿Está defectuoso?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button class="btn btn-primary" onclick="showCreateModal()">Añadir producto</button>
</div>

<!-- Modal for Create/Edit -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Detalles del producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm">
                    <input type="hidden" id="productId" name="id" />
                    <div class="form-group">
                        <label for="productName">Nombre</label>
                        <input type="text" class="form-control" id="productName" name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="type">Tipo de elaboración</label>
                        <select class="form-control" id="productType" name="type" required>
                            <option value="Elaborado a Mano">Elaborado a Mano</option>
                            <option value="Elaborado a mano y máquina">Elaborado a mano y máquina</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="productQuantity">Cantidad</label>
                        <input type="number" class="form-control" id="productQuantity" name="quantity" required />
                    </div>
                    <div class="form-group">
                        <label for="productDefective">Producto defectuoso</label>
                        <input type="checkbox" id="productDefective" name="isDefective" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="saveProductBtn">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Confirm Delete -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de retirar el producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Retirar producto</button>
            </div>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<script>
    $(document).ready(function () {
        loadProducts();

        $("#btnLogout").on("click", function () {
            // Eliminar el token del localStorage
            localStorage.removeItem('token');

            // Redirigir al usuario al inicio de sesión
            window.location.href = '/Login/Index';
        });
    });

    function loadProducts() {

        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/Login/Index';
        }

        // Verificar expiración del token
        const tokenPayload = parseJwt(token);
        const tokenExpiration = tokenPayload.exp * 1000;

        if (Date.now() >= tokenExpiration) {
            window.alert("El token ha expriado, por favor ingrese nuevamente al sistema.")
            window.location.href = '/Login/Index';
        }

        let state = $('#filterState').val();
        $.ajax({
            url: `https://localhost:7184/api/Product/listByState/${state}`,
            headers: {
                'Authorization': 'Bearer ' + token
            },
            type: 'GET',
            success: function (data) {
                $('#productsTable tbody').empty();
                data.forEach(product => {
                    $('#productsTable tbody').append(`
                                        <tr>
                                            <td>${product.name}</td>
                                            <td>${product.type}</td>
                                            <td>${product.quantity}</td>
                                            <td>${product.isDefective ? 'Si' : 'No'}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" onclick="showEditModal(${product.id})">Editar</button>
                                                <button class="btn btn-success btn-sm" onclick="showDeleteModal(${product.id})">Retirar</button>
                                            </td>
                                        </tr>
                                    `);
                });
            },
            error: function () {
                alert('Error al cargar productos');
            }
        });
    }

    function showCreateModal() {
        $('#productForm')[0].reset();
        $('#productId').val('');
        $('#productModalLabel').text('Add Product');
        $('#saveProductBtn').off('click').on('click', createProduct);
        $('#productModal').modal('show');
    }

    function showEditModal(id) {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/Login/Index';
        }

        // Verificar expiración del token
        const tokenPayload = parseJwt(token);
        const tokenExpiration = tokenPayload.exp * 1000;

        if (Date.now() >= tokenExpiration) {
            window.alert("El token ha expriado, por favor ingrese nuevamente al sistema.")
            window.location.href = '/Login/Index';
        }

        $.ajax({
            url: `https://localhost:7184/api/Product/GetProductById/${id}`,
            headers: {
                'Authorization': 'Bearer ' + token
            },
            type: 'GET',
            success: function (data) {
                $('#productId').val(data.id);
                $('#productName').val(data.name);
                $('#productType').val(data.type);
                $('#productQuantity').val(data.quantity);
                $('#productDefective').prop('checked', data.isDefective);
                $('#productModalLabel').text('Editar Producto');
                $('#saveProductBtn').off('click').on('click', editProduct);
                $('#productModal').modal('show');
            },
            error: function () {
                alert('Failed to load product details');
            }
        });
    }

    function createProduct() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/Login/Index';
        }

        // Verificar expiración del token
        const tokenPayload = parseJwt(token);
        const tokenExpiration = tokenPayload.exp * 1000;

        if (Date.now() >= tokenExpiration) {
            window.alert("El token ha expriado, por favor ingrese nuevamente al sistema.")
            window.location.href = '/Login/Index';
        }

        let product = {
            name: $('#productName').val(),
            type: $('#productType').val(),
            quantity: $('#productQuantity').val(),
            isDefective: $('#productDefective').prop('checked')
        };

        $.ajax({
            url: 'https://localhost:7184/api/Product/AddProduct',
            headers: {
                'Authorization': 'Bearer ' + token
            },
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(product),
            success: function () {
                $('#productModal').modal('hide');
                loadProducts();
            },
            error: function () {
                alert('Failed to create product');
            }
        });
    }

    function editProduct() {
        let id = $('#productId').val();
        let name = $('#productName').val();
        let type = $('#productType').val();
        let quantity = $('#productQuantity').val();
        let isDefective = $('#productDefective').prop('checked');
        
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/Login/Index';
        }

        // Verificar expiración del token
        const tokenPayload = parseJwt(token);
        const tokenExpiration = tokenPayload.exp * 1000;

        if (Date.now() >= tokenExpiration) {
            window.alert("El token ha expriado, por favor ingrese nuevamente al sistema.")
            window.location.href = '/Login/Index';
        }

        $.ajax({
            //EditProductById(int id, string name, string type, bool isDefective, int quantity)
            url: `https://localhost:7184/api/Product/EditProductById/${id}/${name}/${type}/${isDefective}/${quantity}`, // Assuming the same endpoint for update
            headers: {
                'Authorization': 'Bearer ' + token
            },
            type: 'POST',
            success: function () {
                $('#productModal').modal('hide');
                loadProducts();
            },
            error: function () {
                alert('Failed to update product');
            }
        });
    }

    function showDeleteModal(id) {
        $('#confirmDeleteBtn').off('click').on('click', function () {
            deleteProduct(id);
        });
        $('#confirmDeleteModal').modal('show');
    }

    function deleteProduct(id) {
        let aux = 1;
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/Login/Index';
        }

        // Verificar expiración del token
        const tokenPayload = parseJwt(token);
        const tokenExpiration = tokenPayload.exp * 1000;

        if (Date.now() >= tokenExpiration) {
            window.alert("El token ha expriado, por favor ingrese nuevamente al sistema.")
            window.location.href = '/Login/Index';
        }

        $.ajax({
            url: `https://localhost:7184/api/Product/removeOneProduct/${aux}/${id}`,
            headers: {
                'Authorization': 'Bearer ' + token
            },
            type: 'POST',
            success: function () {
                $('#confirmDeleteModal').modal('hide');
                loadProducts();
            },
            error: function () {
                alert('Error al retirar el producto');
            }
        });
    }

    function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }
</script>

